<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>KimKha's Proxy</title>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="container">
			<h2 class=" text-center">KimKha's Proxy</h2>
			<br/>
			<div class="row"><div class="col-sm-12">
				<form action="" method="get" accept-charset="utf-8" role="form" class="form-inline center-block" style="max-width:400px">
					<input type="url" name="url" class="form-control" id="url" placeholder="Type url here..." size="45">
					<button type="submit" class="btn btn-primary">GO</button>
				</form>
				<br/>
				
				<p class="text-info text-center">
					<b>Fair use:</b> All content belongs to the original copyright holders, respectively.
				</p>
				
				<div class="row"><div class="col-sm-4 col-md-offset-4">
					<h3>List useful:</h3>
					<div class="list-group">
						<a href="/m.bbc.co.uk/vietnamese" class="list-group-item"><span class="glyphicon glyphicon-share"></span> BBC Vietnamese Mobile</a>
						<a href="/bbc.co.uk/vietnamese" class="list-group-item"><span class="glyphicon glyphicon-share"></span> BBC Vietnamese PC</a>
					</dev>
				</div></div>
			</div></div>
		</div>
		
		<!--div class="secure">
			{% if secure_url %}<a href="{{secure_url}}">{% endif %}<img src="/static/{% if secure_url %}no{% endif %}lock.png" width="16" height="16"> {% if secure_url %}not secure</a>{% else %}secure{% endif %}
		</div-->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-50632146-1', 'kimkha.com');
		  ga('send', 'pageview');
		</script>
	</body>
</html>